.container {
  position: relative;
  margin: 0 auto;
  width: $screen-xl;

  @media only screen and (max-width: $screen-xl) {
    width: 100%;
  }
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}
