/* 主標題 */
.title {
  font-size: 3.5rem;
  font-weight: 600;
  font-family: $zh-font;
}

/* 副標題 */
.sub-title {
  font-size: 40px;
  color: $dark-red;
  font-weight: 600;
  font-family: $zh-font;
}

/* 英文標題 */
.en-title {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: $en-font;
  letter-spacing: -3px;
}

/* 區塊內文字 */
.content {
  font-size: 32px;
  font-weight: 500;
  font-family: $zh-font;
}
