footer {
  text-align: center;
  height: 455px;
  background-color: $dark-red;
  color: #fff;

  img {
    margin-top: 4rem;
  }

  .content {
    margin: 1.5rem 0 3.5rem;
    letter-spacing: 6px;
    font-weight: 400;
  }

  p {
    margin-bottom: 1rem;
    font-weight: 300;
  }
}
