#header {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 768px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1400px 768px;
  background-image: url("@/images/Key Visual.png");

  @media only screen and (max-width: $screen-xl) {
    height: 2190px;
    background-size: $screen-xl 100%;
    background-image: url("@/images/Key Visual_mobile.png");
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -15px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 768px 20px;
    z-index: -1;
    background-image: url("@/images/Background_Shadow.png");

    @media only screen and (max-width: $screen-xl) {
      background-size: 100% 20px;
    }
  }

  .header-logo {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 176px;

    @media only screen and (max-width: $screen-xl) {
      top: 100px;
    }

    .content {
      margin: 0 auto;
      font-size: 24px;
      font-family: $zh-font;
      text-align: center;
      letter-spacing: 5px;
    }

    img {
      width: 100%;
    }
  }

  .header-info {
    position: absolute;
    top: 30%;
    right: 30px;
    left: 0;
    margin: 0 auto;
    padding-right: 3rem;
    height: auto;
    text-align: right;

    .title {
      font-size: 3.25rem; /* custom */
      margin-bottom: 1.5rem;
    }

    .sub-title {
      font-size: 32px; /* custom */
      margin-bottom: 1rem;
    }

    .en-title {
      font-size: 16px; /* custom */
      margin-bottom: 3.5rem;
    }

    .content {
      font-size: 25px; /* custom */
    }

    @media only screen and (max-width: $screen-xl) {
      top: 66%;
      right: 0;
      text-align: center;
    }
  }

  .nav {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: auto;

    @media only screen and (max-width: $screen-xl) {
      display: none;
    }

    ul {
      display: flex;

      li {
        padding-bottom: 1rem;
        font-size: 32px;
        font-weight: 500;
        text-align: center;
        color: $black;
        flex: 1;
        cursor: pointer;
        user-select: none;

        &.active {
          color: $dark-red;
          border-bottom: 5px solid $dark-red2;
        }
      }
    }
  }
}

#header-m {
  img {
    width: 100%;
  }

  .buy-m {
    position: fixed;
    top: 30%;
    right: 0;
    // TODO: 暫時隱藏
    display: none;
    width: calc(#{100% * 146px / $screen-psm});
    // display: block;
    max-width: 146px;
    text-decoration: none;
    z-index: 1;
    cursor: pointer;
  }

  .nav {
    position: absolute;
    top: 10%;
    left: 10%;
    width: calc(#{100% * 65px / $screen-psm});
    max-width: 65px;
    z-index: 1;
    cursor: pointer;
  }
}
