#header {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 1054px;
  background-image: url("@/images/Key Visual.png");
  background-size: 1920px 1054px;
  background-repeat: no-repeat;
  background-position: center;

  @media only screen and (max-width: $screen-xl) {
    height: 2190px;
    background-image: url("@/images/Key Visual_mobile.png");
    background-size: $screen-xl 100%;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 20px;
    background-image: url("@/images/Background_Shadow.png");
    background-size: 1917px 20px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;

    @media only screen and (max-width: $screen-xl) {
      background-size: 100% 20px;
    }
  }

  .header-logo {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 276px;

    @media only screen and (max-width: $screen-xl) {
      top: 100px;
    }

    > div {
      margin: 0 auto;
      text-align: center;
      font-size: 38px;
      letter-spacing: 0.75rem;
      font-family: $zh-font;
    }
  }

  .header-info {
    position: absolute;
    top: 35%;
    left: 0;
    right: 30px;
    margin: 0 auto;
    padding-right: 3rem;
    height: auto;
    text-align: right;

    .title {
      margin-bottom: 2rem;
    }

    .sub-title {
      margin-bottom: 1rem;
      font-size: 44px; /* custom */
    }

    .en-title {
      margin-bottom: 3rem;
    }

    @media only screen and (max-width: $screen-xl) {
      top: 66%;
      right: 0;
      text-align: center;
    }
  }

  .nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    margin: 0 auto;

    @media only screen and (max-width: $screen-xl) {
      display: none;
    }

    ul {
      display: flex;

      li {
        flex: 1;
        padding-bottom: 1rem;
        text-align: center;
        font-size: 32px;
        color: $black;
        font-weight: 500;
        cursor: pointer;
        user-select: none;

        &.active {
          border-bottom: 5px solid $dark-red2;
          color: $dark-red;
        }
      }
    }
  }
}

#header-m {
  img {
    width: 100%;
  }

  .buy-m {
    position: fixed;
    top: 30%;
    right: 0;
    display: block;
    max-width: 146px;
    width: calc(#{100% * 146px / $screen-psm});
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
  }

  .nav {
    position: absolute;
    top: 10%;
    left: 10%;
    max-width: 65px;
    width: calc(#{100% * 65px / $screen-psm});
    z-index: 1;
    cursor: pointer;
  }
}
