#header {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 1054px;
  background-image: url('@/images/Key Visual.png');
  background-size: 1920px 1054px;
  background-repeat: no-repeat;
  background-position: center;

  &::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 20px;
    background-image: url('@/images/Background_Shadow.png');
    background-size: 1917px 20px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }

  // .header-banner {
  //   position: relative;
  //   display: block;
  //   margin: 0 auto;

  //   img {
  //     // max-width: 1920px;
  //     width: 100%;
  //   }

  //   &::after {
  //     content: '';
  //     position: absolute;
  //     bottom: -15px;
  //     left: 0;
  //     right: 0;
  //     margin: 0 auto;
  //     // max-width: 1920px;
  //     width: 100%;
  //     height: 20px;
  //     background-image: url('@/images/Background_Shadow.png');
  //     background-size: 11917px 20px;
  //     background-repeat: no-repeat;
  //     background-position: center;
  //     z-index: -1;
  //   }
  // }

  .header-logo {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 276px;

    > div {
      margin: 0 auto;
      text-align: center;
      font-size: 38px;
      letter-spacing: 0.75rem;
      font-weight: 500;
      font-family: $zh-font;
    }
  }

  .header-info {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    height: auto;
    margin: 0 auto;
    text-align: right;

    .title {
      margin-bottom: 2rem;
    }

    .sub-title {
      margin-bottom: 1rem;
      font-size: 44px; /* custom */
    }

    .en-title {
      margin-bottom: 3rem;
    }
  }

  .nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    margin: 0 auto;

    ul {
      display: flex;

      li {
        flex: 1;
        padding-bottom: 1rem;
        text-align: center;
        font-size: 32px;
        color: $black;
        font-weight: 500;
        cursor: pointer;
        user-select: none;

        &.active {
          border-bottom: 5px solid $dark-red2;
          color: $dark-red;
        }
      }
    }
  }
}
