#section4 {
  margin: 7rem 0 3rem;
  position: relative;
  width: 100%;

  .buy {
    display: flex;
    height: 700px;

    @media only screen and (max-width: $screen-xl) {
      flex-direction: column-reverse;
      height: initial;
    }

    .buy-rice {
      position: relative;
      display: block;
      width: 498px;

      @media only screen and (max-width: $screen-xl) {
        margin: 0 auto;
        height: 1043px;
      }

      &::before {
        content: "";
        width: 498px;
        height: 1043px;
        position: absolute;
        left: -30px;
        background-image: url("@/images/packshot.png");
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }

    .buy-app {
      margin-top: 6.5rem;

      > div {
        @media only screen and (max-width: $screen-xl) {
          justify-content: center;
        }
      }

      .title {
        margin-left: 1rem;
      }

      .sub-title {
        margin: 1rem 0;
        padding-bottom: 1.5rem;
        width: 740px;
        font-size: 36px;
        border-bottom: 1px solid $black;

        @media only screen and (max-width: $screen-xl) {
          text-align: center;
          border-bottom: none;
          margin: 1rem;
          width: 100%;
        }
      }

      .content {
        font-weight: 500;
      }

      .buy-tap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content-mobile {
          display: none;
          margin-left: 2rem;
        }

        @media only screen and (max-width: $screen-xl) {
          position: absolute;
          top: 70%;
          left: 0;
          right: 0;
          margin: 0 auto;
          justify-content: center;
          width: 70%;
          border-top: 1px solid $black;
          padding-top: 3rem;

          .content {
            display: none;
          }
          .content-mobile {
            display: block;
          }
        }
      }
    }
  }

  #section4_story {
    position: relative;
    width: 100%;
    background-image: url("@/images/rice_house.png");
    background-size: 794px 1153px;
    background-repeat: no-repeat;
    background-position: right top;

    @media only screen and (max-width: $screen-xl) {
      height: 1707px;
      background-image: url("@/images/rice_house_mobile.png");
      background-size: $screen-xl 1707px;
      background-position: center;
    }
  }

  .story {
    position: relative;
    height: 1200px;

    @media only screen and (max-width: $screen-xl) {
      text-align: center;
    }

    .sub-title {
      margin: 2.5rem 0 4rem;

      @media only screen and (max-width: $screen-xl) {
        color: $black;
      }
    }

    .content {
      width: 650px;
      text-align: justify;

      @media only screen and (max-width: $screen-xl) {
        margin: 0 auto;
        width: 80%;
        max-width: 650px;
      }
    }

    a {
      margin-top: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 60px;
      color: #fff;
      background: $dark-red;
      font-family: $zh-font;
      font-size: 28px;
      text-decoration: none;
      border-radius: 0.25rem;

      @media only screen and (max-width: $screen-xl) {
        position: absolute;
        bottom: -400px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }

  .awards {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $screen-xl) {
      display: none;
      /* TODO 使用輪播圖 */
    }

    > div {
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 148px;

        &.content {
          font-size: 28px;
        }
      }

      text-align: center;
      line-height: 42px;
    }
  }
}

#section4-m {
  margin: 10% auto 15%;

  > img:first-child {
    max-width: 837px;
    width: calc(#{100% * 837px / $screen-psm});
  }

  .fb-m {
    position: absolute;
    bottom: -3%;
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: 449px;
    width: calc(#{100% * 449px / $screen-psm});
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
  }

  .slider {
    position: absolute;
    bottom: 4%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: calc(#{120% * 302px / $screen-psm});

    .section4-slider {
      display: flex;
      align-items: center;
    }

    .slider-btn {
      position: absolute;
      bottom: 40%;
      width: calc(#{300% * 90px / $screen-psm});
      z-index: 1;

      &#section4prevBtn {
        left: -70%;
      }

      &#section4nextBtn {
        right: -70%;
      }
    }

    .tns-nav {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 14%;

      > button {
        width: 5px;
        height: 12px;
        border: none;
        outline: none;
        border-radius: 100%;
        background-color: $black;
        opacity: 0.2;
        cursor: pointer;
        transform: scale(0.8);

        &.tns-nav-active {
          opacity: 1;
        }
      }
    }
  }
}
