#section1 {
  margin: 0 auto;
  padding: 5rem 0 7rem;
  width: 920px;

  @media only screen and (max-width: $screen-xl) {
    width: 100%;
  }

  .head {
    margin: 0 auto;
    padding-bottom: 5rem;
    text-align: center;
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: left;

    @media only screen and (max-width: $screen-xl) {
      text-align: center;
      flex-direction: column;
    }

    .col {
      flex: 1;

      &.context {
        padding: 5rem 0 0 5rem;

        @media only screen and (max-width: $screen-xl) {
          padding: 0;
        }

        .en-title {
          font-size: 30px;
          color: $dark-red;
          margin-bottom: 0.5rem;

          @media only screen and (max-width: $screen-xl) {
            margin-top: 2rem;
          }
        }

        .sub-title {
          padding-bottom: 2rem;
          margin-bottom: 2rem;
          border-bottom: 1px solid $black;

          @media only screen and (max-width: $screen-xl) {
            margin: 0 auto 1rem;
            padding-bottom: 1rem;
            width: 320px;
          }
        }

        .content {
          font-weight: 500;

          @media only screen and (max-width: $screen-xl) {
            margin-bottom: 3rem;
          }
        }
      }
    }

    img {
      float: right;

      @media only screen and (max-width: $screen-xl) {
        float: initial;
        width: 70%;
        height: 100%;
      }

      @media only screen and (max-width: $screen-xl) {
        max-width: 80%;
      }
    }

    /* 圖片在右的區塊 */
    &.reverse {
      text-align: right;

      @media only screen and (max-width: $screen-xl) {
        text-align: center;
        flex-direction: column-reverse;
      }

      img {
        float: left;

        @media only screen and (max-width: $screen-xl) {
          float: initial;
        }
      }

      .context {
        padding: 5rem 5rem 0 0;

        @media only screen and (max-width: $screen-xl) {
          padding: 0;
        }
      }
    }
  }
}

#section1-m {
  margin: 4% auto 10%;

  img {
    width: calc(#{100% * 705px / $screen-psm});
    max-width: 705px;
  }
}
