#section3 {
  position: relative;
  width: 100%;
  background-color: $light-pink;

  &:before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 20px;
    background-image: url('/public/Background_Shadow.png');
    background-size: 1917px 20px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }

  .head {
    &:before {
      content: '';
      position: absolute;
      top: -10%;
      right: -25%;
      height: 1182px;
      width: 935px;
      background-image: url('/public/Key Visual_illustration.png');
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .title:first-child {
      padding-top: 22rem;
    }

    .sub-title {
      margin: 1rem 0 5rem;
      font-family: $zh-font;
    }
  }

  .steps {
    padding-bottom: 8rem;
    margin-top: 18rem;
    display: flex;
    justify-content: space-between;

    .step {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .content {
        font-weight: 600;
      }

      .step-context {
        padding-top: 1.5rem;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}
