#section3 {
  position: relative;
  padding-top: 20rem;
  width: 100%;
  background-color: $light-pink;

  @media only screen and (max-width: $screen-xl) {
    padding-top: 65rem;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -15px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1917px 20px;
    z-index: -1;
    background-image: url("@/images/Background_Shadow.png");
  }

  .fixed-banner {
    position: absolute;
    top: -6%;
    right: 0;
    width: 935px;
    height: 1182px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 935px 1182px;
    background-image: url("@/images/Key Visual_illustration.png");

    @media only screen and (max-width: $screen-xl) {
      left: 0;
      margin: 0 auto;
      width: 100%;
      background-image: url("@/images/Key Visual_illustration_mobile.png");
    }
  }

  .head {
    position: relative;

    @media only screen and (max-width: $screen-xl) {
      text-align: center;

      .title {
        font-size: 6rem;
        text-shadow: 0 0 4rem #fff, 0 0 4rem #fff;
      }
    }

    @media only screen and (max-width: $screen-sm) {
      .title {
        font-size: 3rem;
      }
    }

    .sub-title {
      margin: 1rem 0 5rem;
      font-family: $zh-font;
    }
  }

  .steps {
    display: flex;
    justify-content: space-between;
    padding: 20rem 0 8rem;

    @media only screen and (max-width: $screen-xll) {
      justify-content: center;
      padding-top: 5rem;

      img {
        width: 70%;
      }
    }

    @media only screen and (max-width: $screen-xl) {
      visibility: hidden; /* TODO 使用輪播圖 */
    }

    .step {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .content {
        font-weight: 600;
      }

      .step-context {
        padding-top: 1.5rem;
        font-size: 20px;
        font-family: $zh-font;
        font-weight: 500;
        text-align: center;
      }
    }
  }
}

#section3-m {
  .slider {
    position: absolute;
    bottom: 5%;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: calc(#{170% * 203px / $screen-psm});

    .slider-btn {
      position: absolute;
      bottom: 40%;
      width: calc(#{300% * 90px / $screen-psm});
      z-index: 1;

      &#section3prevBtn {
        left: -70%;
      }

      &#section3nextBtn {
        right: -70%;
      }
    }

    .tns-nav {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 5%;

      > button {
        width: 5px;
        height: 12px;
        background-color: $black;
        border: 0;
        border-radius: 100%;
        opacity: 0.2;
        outline: none;
        cursor: pointer;
        transform: scale(0.8);

        &.tns-nav-active {
          opacity: 1;
        }
      }
    }
  }
}
