* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  max-width: $page-width;
  line-height: 1.4;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  z-index: 0;
}
