/* Reset */
@import './reset/h';
@import './reset/p';
@import './reset/ul';

/* Fonts */
@import './fonts/Sackers Gothic';
// @import './fonts/PingFang';

/* Models */
@import './models/color';
@import './models/config';
@import './models/screen';
@import './models/font';

/* Components */
@import './components/layout';
@import './components/text';
@import './components/typography';

/* Containers */
@import './containers/footer';
@import './containers/gotop';
@import './containers/header';
@import './containers/section1';
@import './containers/section2';
@import './containers/section3';
@import './containers/section4';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $global-font;
  color: $black;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
