@font-face {
  font-family: 'PingFang';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('PingFang'),
    url('./fonts/PingFang/PingFangTC_Ultralight.ttf') format('truetype');
}

@font-face {
  font-family: 'PingFang';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('PingFang'),
    url('./fonts/PingFang/PingFangTC_Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'PingFang';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('PingFang'),
    url('./fonts/PingFang/PingFangTC_Light.ttf') format('truetype');
}

@font-face {
  font-family: 'PingFang';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('PingFang'),
    url('./fonts/PingFang/PingFangTC_Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PingFang';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('PingFang'),
    url('./fonts/PingFang/PingFangTC_Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'PingFang';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('PingFang'),
    url('./fonts/PingFang/PingFangTC_Semibold.ttf') format('truetype');
}
