@font-face {
  font-family: "Sackers Gothic";
  font-style: normal;
  font-display: swap;
  src: local("Sackers Gothic"),
    url("./fonts/Sackers Gothic/SackersGothic Light AT.otf") format("opentype");
}

// 不使用
// @font-face {
//   font-family: 'Sackers Gothic Std';
//   font-style: normal;
//   font-weight: 300;
//   font-display: swap;
//   src: local('Sackers Gothic Std'),
//     url('./fonts/Sackers Gothic/SackersGothicStd-Light.otf') format('opentype');
// }

// 不使用
// @font-face {
//   font-family: 'Sackers Gothic Std';
//   font-style: normal;
//   font-weight: 500;
//   font-display: swap;
//   src: local('Sackers Gothic Std'),
//     url('./fonts/Sackers Gothic/SackersGothicStd-Medium.otf') format('opentype');
// }
